@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
  height: 5em;
}

h2,
h3,
p {
  font-family: "Libre Baskerville";
  margin: 0;
}

input,
textarea {
  font-size: inherit;
}

div#root {
  display: flex;
  font-size: large;
  gap: 32px;
  padding: 32px;
}

div#root > div.forms {
  flex-grow: 1;
}
